body {
  background-color: #fff;
}

#countdown {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: #f8f9fa;
}

.cta-button {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
  text-transform: uppercase;
}

/* Adicione estilos adicionais conforme necessário */
